# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.env
.venv
env/
venv/
ENV/
venv_py3.11/
myenv/
ds_env/

# Jupyter Notebook
.ipynb_checkpoints

# Mac OS
.DS_Store

# Large data files
*.csv
*.csv.gz
dataset/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Temporary files
*.log
*.tmp

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
